@import url("Smart_Watch_Style2.css");
body{
	background-color: black;
	background-image: url('ezgif.com-webp-to-jpg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	}
img{
    width: 400px;
    height: 400px;
	
	border-radius: 40px;
}
h1{
	font-size: 1cm;
	text-align: center;
	font-family: "Audiowide", sans-serif;
	

	position: relative;
	
	text-transform: uppercase;
	min-height: 1cm;

	

}
h1:before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	-webkit-text-stroke:0.05cm;
	color: navajowhite;
	
	overflow: hidden;
	animation: animate 6s ;
	animation-iteration-count: 1;

}
@keyframes animate{
    0%{
    	width: 0%;
    }
    70%{
    	width: 100%;
    }
}




.for_you{
	text-decoration: underline;
	font-size: 0.6cm;
	font-family: "Audiowide", sans-serif;
	margin-left: 40%;
	margin-top: 60%;
	color: antiquewhite;


	
}

a{
	color: navajowhite;
	text-decoration: none;
}
.collection{
		text-decoration: underline;
	font-size: 0.6cm;
	font-family: "Audiowide", sans-serif;
	margin-left: 50%;
	margin-top: -4.1%;
	color: white;

}
.container{
	display: flex;
	justify-content: center;

}
.card{
	background-color: dimgrey;
	width: 800px;
	height: 400px;
	margin: 60px;
	border: 1px solid black;
	border-radius:20px;
}
.card-image{
	background-color: ghostwhite;
	border-radius: 20px 20px 0px 0px;
	height: 300px;


}
.watch1{
	background-image: url('watch.jpg');
	background-size: 300px 230px;
	height: 200px;
	image-resolution: 300dpi;
	padding-top:10% ;
   

}
.watch2{
	background-image: url('ezgif.com-webp-to-jpg.jpg');
	background-size: 300px 225px;
	height: 200px;
	image-resolution: 300dpi;
	padding-top: 10%;

}
.watch3{
	background-image: url('watch1.jpg');
	background-size: 300px 230px;
	height: 200px;
	image-resolution: 300dpi;
	padding-top: 10%;

}
.watch4{
	background-image: url('s_watch12.jpg');
	background-size: 350px 230px;
	height: 200px;
	image-resolution: 300dpi;
	padding-top: 10%;	
}
.watch5{
	background-image: url('watch012.jpg');
	background-size: 370px 230px ;
	height: 200px;
	image-resolution: 300dpi;
	padding-top: 10%;



}
.watch6{
	background-image: url('Samsung-Galaxy-Watch-61.jpg');
	background-size: 340px 230px;
	height: 200px;
	image-resolution: 300dpi;
	padding-top: 10%;	
}
h2{
	text-align: center;
	font-family: "Audiowide", sans-serif;

}
.h{
	font-size: 0.8cm;
	text-decoration: underline;
	text-align: center;
}
.p{
	
	color: deepskyblue;
	text-align: center;
	margin-top: 20%;

    
}

.p1{
	text-align: center;
	margin-bottom: 100%;
	font-size: 0.7em;
	color: navajowhite;
}


.p3{
	color: deepskyblue;
	text-align: center;
	margin-top: 10%;
}
.p4{
	text-align: center;
	font-size: 0.7em;
	margin-bottom: 80%;
	color: navajowhite;
}

.card:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all is ease;
}
